.Modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 1024px;
  top: 0;
  position: absolute;
}

.Modal-container {
  position: relative;
  max-width: 960px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
}

.Modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F5F5F5;
  padding: 0 20px;
  margin-bottom: 71px;
}

.Modal-list {
  border-top: 1px dashed #ccc;
}

.Modal-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}

.Modal-btn {
  margin-top: 32px;
}

.Modal-empty {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  padding: 15px 0;
}

.Modal-footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 53px;
  align-items: center;
}

.modal__footer_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.Modal-count {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  margin-right: 70px;
}